.nav {
    grid-area: n;
    background-color: lightblue;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: yellow;
    font-weight: bold;
}

.avatarSmall {
    width: 20px;
    height: 20px;
    border-radius: 25%;

}